<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>		
		<typeAlias type="com.haroobang.vo.AccountVO" alias="AccountVO" />
		<typeAlias type="com.haroobang.vo.RoomVO" alias="RoomVO" />
		<typeAlias type="com.haroobang.vo.MessagesVO" alias="MessagesVO" />	
		<typeAlias type="com.haroobang.vo.MessageRoomVO" alias="MessageRoomVO" />	
		<typeAlias type="com.haroobang.vo.RoomAttachVO" alias="RoomAttachVO" />	
		<typeAlias type="com.haroobang.vo.ReservationVO" alias="ReservationVO" />	
		<typeAlias type="com.haroobang.vo.CommentVO" alias="CommentVO" />	
		<typeAlias type="com.haroobang.vo.ReportVO" alias="ReportVO" />
		<typeAlias type="com.haroobang.vo.StatisticsVO" alias="StatisticsVO" />
		<typeAlias type="com.haroobang.vo.LikedVO" alias="LikedVO" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://211.197.18.246:3306/haroobang" />
				<property name="username" value="haroobang" />
				<property name="password" value="9922" />								
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/haroobang/mapper/AccountMapper.xml" />		
		<mapper resource="com/haroobang/mapper/RoomListMapper.xml" />	
		<mapper resource="com/haroobang/mapper/RoomRegisterMapper.xml" />	
		<mapper resource="com/haroobang/mapper/RoomDetailMapper.xml"/>
		<mapper resource="com/haroobang/mapper/MemberMapper.xml"/>
		<mapper resource="com/haroobang/mapper/MessageMapper.xml"/>
		<mapper resource="com/haroobang/mapper/LastReservationMapper.xml"/>
		<mapper resource="com/haroobang/mapper/CommentMapper.xml"/>
		<mapper resource="com/haroobang/mapper/ReservationMapper.xml"/>
		<mapper resource="com/haroobang/mapper/CurrentReservationMapper.xml"/>
		<mapper resource="com/haroobang/mapper/ReviewReportMapper.xml"/>
		<mapper resource="com/haroobang/mapper/StatisticsMapper.xml" />
		<mapper resource="com/haroobang/mapper/MyRoomMapper.xml" />
	</mappers>
</configuration>














