<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haroobang.mapper.AccountMapper">

	<insert id="insertAccount" parameterType="AccountVO">
	insert into member(password, name, phone, gender, profile, birthDate, email) 
	values(#{password},#{name},#{phone},#{gender},#{profile},#{birthDate},#{email});
	</insert>
	
	<select id="login" parameterType="AccountVO" resultType="AccountVO">
	select * from member where email=#{email} and password = #{password}
	</select>
	
	<update id="updateProfile" parameterType="AccountVO">
	update member set name=#{name}, savedfilename=#{savedFileName},phone=#{phone},profile=#{profile} where memberno=#{memberNo}
	</update>
	
</mapper>