<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haroobang.mapper.CommentMapper">

	<insert id="insertComment" parameterType="CommentVO">
      INSERT INTO comment (content, rates, nickName, reservationNo, roomNo, memberNo) 
      VALUES (#{ content }, #{ rates }, #{ nickName }, #{ reservationNo }, #{ roomNo }, #{ memberNo })
   </insert>
   
   <resultMap type="RoomVO" id="RoomVO">
      <result column="roomName" property="roomName" />
   </resultMap>
   <resultMap type="CommentVO" id="commentMap">
      <result column="commentNo" property="commentNo" />
      <result column="roomNo" property="roomNo" />
      <result column="reservationNo" property="reservationNo" />
      <result column="rates" property="rates" />
      <result column="content" property="content" />
      <result column="regDate" property="regDate" />
      <collection property="roomVO" resultMap="RoomVO"></collection>
   </resultMap>
   <select id="selectAllMycommentsByPage" parameterType="hashmap" resultMap="commentMap">
      select c.commentNo, c.roomNo, c.rates, c.content, c.regDate, r.roomName
	  from comment as c join room as r
      where c.roomNo = r.roomNo and c.memberNo = #{ memberNo } order by regDate desc limit #{first}, #{last};
   </select>
   
   <!-- <select id="selectAllMycomments" parameterType="int" resultMap="commentMap">
      select c.commentNo, c.roomNo, c.rates, c.content, c.regDate, r.roomName
	  from comment as c join room as r
      where c.roomNo = r.roomNo and c.memberNo = #{ memberNo } order by regDate desc;
   </select> -->
   
   <select id="selectRoomAttachByRoomNo" parameterType="int" resultType="RoomAttachVO">
		SELECT roomattachNo, roomNo, userFileName, savedFileName
		FROM roomattach WHERE roomNo = #{ roomNo } limit 1
	</select>
	
	<select id="selectCommentCount" parameterType="int" resultType="int">
		select COUNT(*) 
		from comment as c join room as r 
		where c.roomNo = r.roomNo and c.memberNo = #{ memberNo }
	</select>
   
</mapper>