<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haroobang.mapper.LastReservationMapper">

	<resultMap type="RoomVO" id="lastReservationMap">
      <id column="reservationNo" property="reservationNo" /> <!--조회 컬럼과 객체의 set메서드를 매핑-->
      <result column="roomNo" property="roomNo" />
      <result column="roomName" property="roomName" />
      <result column="totalPrice" property="totalPrice" />
      <result column="redDate" property="redDate" />
   </resultMap>
   <select id="selectAllMyLastReservation" resultMap="lastReservationMap">
      select rs.reservationNo, rs.roomNo, r.roomName, rs.totalPrice, rs.redDate
	  from reservation as rs join room as r
      where rs.checkin = 1 AND rs.memberNo = #{ rs.memberNo } order by redDate desc;
   </select>
	
</mapper>