<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haroobang.mapper.LastReservationMapper">

	<resultMap type="RoomVO" id="RoomVO">
      <result column="roomName" property="roomName" />
   </resultMap>
   <resultMap type="ReservationVO" id="lastReservationMap">
      <id column="reservationNo" property="reservationNo" /> <!--조회 컬럼과 객체의 set메서드를 매핑-->
      <result column="roomNo" property="roomNo" />
      <result column="totalPrice" property="totalPrice" />
      <result column="regDate" property="regDate" />
      <result column="startDate" property="startDate" />
      <result column="memberNo" property="memberNo" />
      <collection property="roomVO" resultMap="RoomVO"></collection>
   </resultMap>
   <select id="selectAllMyLastReservation" parameterType="int" resultMap="lastReservationMap">
      select rs.reservationNo, rs.roomNo, r.roomName, rs.totalPrice, rs.regDate, rs.startDate, rs.memberNo
	  from reservation as rs join room as r
      where r.roomNo = rs.roomNo AND rs.checkin = 1 AND rs.memberNo = #{ memberNo } order by regDate desc;
   </select>
   
   
   <resultMap type="RoomVO" id="Room">
      <result column="roomNo" property="roomNo" />
      <result column="roomName" property="roomName" />
      <result column="roomPrice" property="roomPrice" />
   </resultMap>
   <resultMap type="AccountVO" id="Account">
      <result column="memberNo" property="memberNo" />
      <result column="name" property="name" />
   </resultMap>
   <resultMap type="ReservationVO" id="roomnoMap">
      <id column="reservationNo" property="reservationNo" /> <!--조회 컬럼과 객체의 set메서드를 매핑-->
      <result column="totalPrice" property="totalPrice" />
      <result column="regDate" property="regDate" />
      <result column="startDate" property="startDate" />
      <result column="endDate" property="endDate" />
      <result column="memberNo" property="memberNo" />
      <result column="nights" property="nights" />
      <result column="payment" property="payment" />
      <collection property="roomVO" resultMap="Room"></collection>
      <collection property="accountVO" resultMap="Account"></collection>
   </resultMap>
   <select id="selectRoomByRoomNo" parameterType="int" resultMap="roomnoMap">
      SELECT rs.reservationNo, r.roomNo, rs.totalPrice, rs.regDate, rs.startDate, rs.endDate, rs.nights, rs.payment, r.roomName, r.price, m.name, m.memberNo
	  FROM reservation as rs join room as r join member as m
	  WHERE r.roomNo=#{ roomNo } And r.roomNo = rs.roomNo And m.memberNo = rs.memberNo;
   </select>
   
   
</mapper>