<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haroobang.mapper.MessageMapper">
	<select id="getMessageRoomList" parameterType="int" resultType="messageRoomVO">
		select * from messageRoom where memberNo = #{memberNo} or memberNo2 = #{memberNo}
	</select>
	<select id="getMessageMember" parameterType="int" resultType="AccountVO">
		select * from member where memberNo = #{memberNo2}
	</select>
	<select id="getMessageList" parameterType="int" resultType="messagesVO">
		select * from messages where messageRoomNo = #{roomNo}
	</select>
	<insert id="insertMessages" parameterType="messagesVO">
		insert into messages(messageRoomNo,memberNo,content) values(#{messageRoomNo},#{memberNo},#{content})
	</insert>
	<select id="getMessageRoomNo" parameterType="hashmap" resultType="int">
		select messageRoomNo from messageRoom where (memberNo=#{memberNo} and memberNo2=#{loginMemberNo}) or (memberNo=#{loginMemberNo} and memberNo2=#{memberNo});
	</select>
	<insert id="insertMessageRoom" parameterType="hashmap">
		insert into messageRoom(memberNo,memberNo2) values(#{memberNo},#{loginMemberNo})
	</insert>
	<select id="countMessage" parameterType="int" resultType="int">
		select count(messageNo) 
		from messages 
		where regDate <![CDATA[>]]> SUBDATE(NOW(), INTERVAL 24 HOUR) and 
		memberNo in (select memberNo from messageRoom where memberNo2=#{memberNo} union select memberNo2 from messageRoom where memberNo=#{memberNo} );
	</select>
</mapper>