<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haroobang.mapper.ReviewReportMapper">

	<resultMap type="CommentVO" id="CommentVO">
		<id column="commentNo" property="commentNo" /> <!--조회 컬럼과 객체의 set메서드를 매핑 -->
		<result column="reportCount" property="reportCount" />
		<result column="restricted" property="restricted" />
		<result column="content" property="content" />
		<result column="nickName" property="nickName" />
		<result column="roomNo" property="roomNo" />
		
		
	</resultMap>
	
	<resultMap type="ReportVO" id="reviewReportMap">
		<result column="commentNo" property="commentNo" />
		<result column="memberNo" property="memberNo" />
		<result column="regDate" property="regDate" />
		<result column="content" property="content" />
		<collection property="commentVO" resultMap="CommentVO"></collection>
	</resultMap>
	
	<resultMap type="RoomAttachVO" id="selectAllReviewPhotos">
		
	</resultMap>
	<select id="selectAllReviewPhotos" parameterType="int" resultType="string">
		select savedFileName from roomattach where roomNo=(select roomNo from comment where commentNo=#{commentNo}) order by roomNo desc limit 1
	</select>

	<select id="selectAllReviewReports" resultMap="reviewReportMap">
		select r.commentNo, r.memberNo, r.regDate, r.content, c.restricted, c.reportCount 
		from report as r join comment as c
		where r.commentNo = c.commentNo and c.restricted=0 and c.reportCount=1 
	</select>

	<select id="selectAllReviewReportCount" parameterType="int"
		resultType="int">
		SELECT COUNT(*) FROM comment
	</select>
	
	<select id="findCommentVo" parameterType="int" resultType="CommentVO">
		select * from comment 
		where commentNo = #{commentNo} 
	</select>
	
	<update id="stayReview" parameterType="int" >
		update comment set reportCount = 0
		where commentNo = #{parseInt}
	</update>
	
	<update id="restrictedReview" parameterType="int" >
		update comment set restricted = 1
		where commentNo = #{parseInt}
	</update>
	
	

</mapper>