<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haroobang.mapper.ReviewReportMapper">

	<resultMap type="CommentVO" id="reviewReportMap">
		<id column="commentNo" property="commentNo" /> <!--조회 컬럼과 객체의 set메서드를 매핑 -->
		<result column="content" property="content" />
		
	

	</resultMap>

	<select id="selectAllReviewReports" parameterType="int"
		resultMap="reviewReportMap">
		select * from comment
	</select>

	<select id="selectAllReviewReportCount" parameterType="int"
		resultType="int">
		SELECT COUNT(*) FROM comment
	</select>

</mapper>