<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 커밋... -->
<mapper namespace="com.haroobang.mapper.RoomListMapper">

	<select id="selectAllRooms" resultType="RoomVO">
		select * from room where approval=1
	</select>
	
	<select id="selectRoomAttachByRoomNo" parameterType="int" resultType="RoomVO">
		SELECT roomattachNo, roomNo, userFileName, savedFileName
		FROM roomattach WHERE roomNo = #{ roomNo }
	</select>
	
	<select id="selectAllDisapprovalRooms" resultType="RoomVO">
		select * from room where approval=0
	</select>
	
	<update id="approvalRoom" parameterType="int">
		update room
		set approval = 1
		where roomNo = #{formdate}
	</update>
</mapper>