<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haroobang.mapper.RoomRegisterMapper">
	<insert id="roomRegister" parameterType="RoomVO"
	useGeneratedKeys="true" keyColumn="roomno" keyProperty="roomNo">
		insert into room(memberNo, roomName, address, roomProfile, price, maximum,longitude,latitude) 
		values(#{memberNo},#{roomName},#{address},#{roomProfile},#{price},#{maximum},#{longitude},#{latitude});
	</insert>
	
	<insert id="roomAttach" parameterType="com.haroobang.vo.RoomAttachVO">
		insert into roomattach(savedFileName, userFileName, roomNo) 
		values(#{savedFileName},#{userFileName},#{roomNo})		
	</insert>
	
	<select id = "roomList" parameterType="int" resultType="RoomVO">
		select * from room where roomNo = #{roomNo}
	</select>
	<select id="roomAttachList" parameterType="int" resultType="com.haroobang.vo.RoomAttachVO">
		select * from roomattach where roomNo = #{roomNo}
	</select>	
	<delete id="deleteRoom" parameterType="int">
		delete from room where roomNo=#{roomNo}
	</delete>
	<delete id="deleteRoomAttach" parameterType="int">
		delete from roomattach where roomNo=#{roomNo}
	</delete>
</mapper>