<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haroobang.mapper.RoomDetailMapper">

	<insert id="addLike" parameterType="hashmap">
		insert into liked(memberNo,roomNo) 
		values (#{memberNo},#{roomNo})
	</insert>
	
	<select id="findRoomDetail" parameterType="int" resultType="RoomVO">
		select * from room where roomno=#{roomNo}
	</select>

	<select id="findMemberId" parameterType="int" resultType="AccountVO">
	 	select * from member where memberNo=#{memberNo}
	</select>
	
	<select id="findRoomAttach" parameterType="int" resultType="RoomAttachVO">
	select * from roomattach where roomNo = #{roomNo}
	</select>
	
	<insert id="addRoomReservaion" parameterType="ReservationVO" useGeneratedKeys="true" keyProperty="reservationNo" keyColumn="reservationNo" >
	 insert into reservation(memberNo, roomNo, payment, totalPrice,nights,request,startDate,endDate,coupon)
	 values (#{memberNo},#{roomNo},#{payment},#{totalPrice},#{nights},#{request},#{startDate},#{endDate},#{coupon})
	</insert>
	
	<insert id="addReservationDate" parameterType="hashmap">
		insert into reservationDate(roomNo, reservationNo,date)	
		values (#{roomNo},#{reservationNo},#{date})
	</insert>
	
	<select id="findDateList" parameterType="int" resultType="String">
		select date from reservationDate where roomNo=#{roomNo}
	</select>
	
	<select id="findReservedDate" parameterType="hashmap" resultType="int">
		select reservationNo from reservationDate where date=#{date} and roomNo=#{roomNo}
	</select>
	
	<update id="roomDelete" parameterType="int">
		UPDATE room SET deleted = 1 WHERE roomNo=#{roomNo};
	</update>
	
	<select id="findCommentList" parameterType="int" resultType="CommentVO">
		select * from comment where roomNo=#{roomNo}
	</select>
	
	<select id="averageRate" parameterType="int" resultType="float">
		select round(avg(rates),2) from comment where roomNo=#{roomNo};
	</select>
	
	<insert id="commentReport" parameterType="hashmap">
		insert into report(commentNo, content, memberNo) 
		value (#{commentNo}, #{content}, #{memberNo})
	</insert>
	
</mapper>