<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haroobang.mapper.StatisticsMapper">
	<select id="getCheckinPrice" resultType="int">
		select sum(totalPrice) from reservation where checkin=1
	</select>
	<select id="getTotalPrice" resultType="int">
		select sum(totalPrice) from reservation
	</select>
	<select id="getMonthCount" resultType="ReservationVO">
		SELECT CONCAT(YEAR(startDate), '-', MONTH(startDate)) months, COUNT(*) count,sum(totalPrice) totalPrice FROM reservation GROUP BY months
	</select>	
	<select id="getStatistics" resultType="int">
		select count(*) memberCount from member
	</select>
	
</mapper>